#question-form{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    flex:1;
}

.question-form-element{
    margin-bottom: 10px;
    width: 85%;
}

.question-form-input{
    margin-left:10px;
    height:20px;
    width: 33%;
}

.error-box{
    background-color: red;
}
.success-box{
    background-color: green;
}