#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
   
}

#sidebar a {
    text-decoration: none;
    color:white
}
#sidebar a:hover{
    opacity: 25%;
}

#detail {
    flex: 1;
    padding: 2rem 4rem;

  }