.main-page-title{
  display: flex;
  justify-content: center;
  margin: 5%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: none;
}

.overlay.active {
  display: block;
}

